.explore-container{
    text-align: center;
    
    h2{
        font-family: Quicksand, sans-serif;
        color: #BD0300;
        padding-top: 60px;
        padding-bottom: 20px;
        font-weight: 400;
    }
    p{
        font-family: Quicksand, sans-serif;
        color: #BD0300;

    }

}
.ingredients{
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    padding: 2rem;
    

    label {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: 0.9rem;
        font-size: 14px;
    }
}