@import "../styles/global.scss";

.recipe-grid{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;

    //tablet 3 columns
    @media(min-width: 768px) {
        padding: 50px;
        grid-template-columns: repeat(3,1fr);
    }
    //desktop 4 columns 
    @media(min-width: 1024px) {
        padding: 100px;
        grid-template-columns: repeat(4,1fr);
    }
}

.recipe-card {
    background: white;
    text-align: center;
    border: 1px solid #BD0300;

    p{
        font-family: Quicksand, sans-serif;
        font-weight: 500;
        justify-content: center;
        font-size: 14px;
        padding: 10px;
        color:#BD0300;
        
        @media (min-width: 1024px){
            font-size: 16px;
        }
    }

    img{
        width: 100%;
        height: 160px;
        object-fit: cover;
        display: block;
    
        @media (min-width: 768px) {
            height: 300px; // Taller for tablets
        }
    
         @media (min-width: 1024px) {
            height: 320px; // Even taller for desktop
        }
    }
  }

.load-more{
    font-family: Quicksand, sans-serif;
    font-size: 14px;
    display: block;
    margin: 1.5rem auto;
    justify-content: center;
    border-radius: 25px;
    color:#FEFDFE;
    background-color: #BD0300;
    padding: 0.75rem 1.5rem;
    border: none;
    cursor: pointer;
}
.load-more-container{
    grid-column: 1/ -1;
    padding: 1rem;
    display: flex;
    justify-content: center;
}