@import "../styles/variables";
@import "../styles/global";

.header {
    background-color: white;
    border-bottom: 2px solid #BD0300;
    padding: 10px 20px;
}

.nav-list{
    display: flex;
    list-style: none;
    gap: 20px;

}